* {
  box-sizing: border-box;
}

body, p, div {
  padding: 0;
  margin: 0;
}

.board {
  position: relative;
  width: 100%;
  height: 100vh;

  background-image: url(../img/background.jpg);
  background-size: 100% 100%;
}

.basket {
  transform: translateX(50%);
  transition: transform .7s;
}

.score {
  position: absolute;
  top: 0;
  left: 0;
}

.lives {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  gap: 10px;
}

.heart {
  width: 45px;
  height: 45px;
  
  background-image: url(../img/heart.png);
  background-size: 100% 100%;
}

.fruit,
.bomb {
  
  transform: translateY(100vh);
}
